@font-face {
    font-family:Proxima_Nova;
    src: url(../Proxima_Nova_Font.ttf)
}
* {
    font-family:Helvetica;
    margin-top:10;
    margin-bottom:10;
}
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.white {
    color:white;
}
.background {
    background-color:rgb(46, 47, 48);
    background-image:url('../src/mb.svg');
    background-size:100%;
}
.talign {
    text-align:center;
}
a {
    color:chartreuse;
}
.title {
    color:white;
    text-align:center;
    font-size:80px;
    margin-top:10px;
    margin-bottom:20px;
    padding: 0 0 0 0;
}
.home {
    text-align:left;
}