.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.white {
    color:white;
}
.background {
    background-color:rgb(46, 47, 48);
    background-image:url('../src/mb.svg');
    background-size:100%;
}
.talign {
    text-align:center;
}

a {
    color:chartreuse;
}

* {
    font-family:Helvetica;
}